server:
  port: 8080

spring:
  application:
    name: "franquicias-nequi"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

adapters:
  r2dbc:
    host: localhost
    port: 5432
    database: franquicias_db
    schema: public
    username: postgres
    password: admin

management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true

cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"
